body {
    background: url(../images/bg.jpg), #2f2f2f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    margin: 0;
    font-size: 12px;
}

.alrpHeader {
    background-image: linear-gradient(to bottom, #CA0000, #AA0000);
    border-radius: 5px 5px 0 0;
    min-height: 50px;
    margin-top: 25px;
}

.alrpBrand > img {
    position: absolute;
    margin-bottom: -50px;
    top: -25px;
    left: -20px;
}

.alrpContent {
    background-color: #f5f5f5;
    min-height: 100px;
    padding-top: 15px;
    margin: 0;
}

.alrpContentBox {
    color: grey;
    border: 1px solid #E0E0E0;
    background-color: #ECECEC;
    padding: .75rem 1.25rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 5px;
    font-weight: normal;
    line-height: 20px;
    color: inherit;
    font-family: "Segoe UI","Microsoft YaHei";
    font-size: 18px;
}

.alrpInput {   
    font-size: 12px !important;
}

.alrpInputPrepend {
    min-width: 35px;
}

[class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    width: 100%;
}

.alrpLoginButton {
    background-image: linear-gradient(to bottom, #CA0000, #AA0000);
    color: white;
    border: 1px solid darkred;
}

.alrpRegisterButton {
    background-image: linear-gradient(to bottom, #ECECEC, #E0E0E0);
    border: 1px solid #CCCCCC;
    color: black;
}

.alrpFooter {
    background-image: linear-gradient(to bottom, #CA0000, #AA0000);
    border-radius: 0 0 5px 5px;
    color: white;
    padding: 12.5px;
    font-size: 12px;
    width: 100%;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .navbar-collapse {
        margin-left: 15em !important;
    }
}

.nav-link {
    color: white !important;
}

.dropdown-item {
    font-size: 12px !important;
}